*.log
*.bak
*.bak.*
*.thumbs/
.DS_Store
Thumbs.db
.svn
*.swp
nbproject
app/etc/local.xml
/.htaccess
downloader/.cache
downloader/cache.cfg
media/catalog
media/css
media/css_secure
media/js
media/import
media/tmp
media/uploads
media/wysiwyg
var
sitemap.xml
cron.php
cron.sh
errors
includes
index.php
index.php.sample